/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: myriad-pro, sans-serif;
}

/* header */
.header{
    height: 65px;
    background-color: #1caace;
    display: flex;
    align-items: center;
}

.header-title{
    padding-left: 20px;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
}
/* end header */

/* body */
.user-row{
    padding: 20px;
    display: flex;
    align-items: center;
}

#user-avatar{
    width: 120px;
}

.user-name{
    padding-left: 30px;
    font-size: 1.1rem;
    font-weight: 600;
}

.input-field{
    width: 100%;
    padding: 0px 40px 0px 20px ;
    /* height: calc(100% - 160px); */
}

.left-col{
    padding-right: 50px;
    padding-left: 0px;
}

.right-col{
    padding-left: 90px;
}

.item{
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    font-size: 1.1rem;
}

.button {
    background-color: #0185c1;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9rem;
    margin: 18px 0px 18px 5px;
    width: 147.5px;
}

.btn-row{
    display: flex;
    justify-content: flex-end;
}

.main{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.tab-bar{
    height: 60px;
    margin: 0;
    align-items: center;
}

.tab-bar-li:hover{
    background-color: white;
    color: #0d3d6e;
}

.tab-bar-li{
    border: none;
    padding: 0px 10px;
    margin-left: 10px;
}

.tab-bar-link:hover{
    color: #0d3d6e;
    border-bottom: 1px solid #0d3d6e;
} 

.tab-bar-link:focus{
    color: #0d3d6e;
    border-bottom: 1px solid #0d3d6e;
}

.tab-bar-link.active{
    color: #0d3d6e;
    border-bottom: 1px solid #0d3d6e;
}

.fa-edit, .fa-trash-alt{
    color: #707070;
}

.imgDetail{
    max-width: 25rem;
    max-height: 25rem;
}

label{
    width: 161px;
}

.w-300px{
    width: 300px;
}

.w-21{
    width: 21%; 
}

.w-50{
    width: 50%;
}

.w-79{
    width: 79%;
}

.w-100{
    width: 100%;
}
/* end body */

/* side bar */
.side-bar{
    border: 1px solid #d7d7d7;
    height: calc(100% - 65px);
    overflow-y: auto;
}

#logo{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

a, a:hover{
    text-decoration: none;
    font-size: 1rem;
    color: #69797d;
    font-weight: 600;
}

li{
    border: 1px solid #d7d7d7;
    height: 40px;
    display: flex;
    align-items: center;
}

li:hover{
    background-color: #c7f4ff;
}

.icon{
    padding: 0px 20px 0px 50px;
    width: 95px;
    height: 25px;
}

.fa-chevron-down{
    color: #69797d;
    padding-left: 65px;

}

#panel{
    display: none;
}

/* footer */
.footer{
    height: 65px;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 100%;
    /* left: 0;
    bottom: 0; */
}

.footer-title{
    color: #707070;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
}
/* end footer */

/* table */
table{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

th{
    height: 60px;
    width: 15%;
    padding-left: 20px;
    border-bottom: 1px solid #d7d7d7;
}

td{
    height: 80px;
    padding-left: 20px;
    border-bottom: 1px solid #d7d7d7;
}

.action-col{
    width: 5%;
}

.old-style-table{
    color: #333333;
    width: 98%;
    /* border: 1px solid #d7d7d7 ; */
    border-collapse: collapse;
    margin-top: 10px;
}

.old-style-table th {
    padding-left: 0;
    text-align: center;
}

/* .old-style-table th{
    background-color: #5D7B9D;
    
    height: 10px;
    text-align: center;
    color: white;
    padding: 0;
} */

.old-style-table td{
    border: 1px solid #d7d7d7;
    padding-left: 5px;
    text-align: left;
    height: 10px;
}

.old-style-table a{
    text-decoration: underline;
    color: blue;
    font-weight: normal;
}

.old-style-table .stt{
    padding: 0;
    text-align: center;
}

.old-style-table .tinHot{
    color: brown;
}

.table-footer td{
    background-color: white;
    border: none;
}

.table-footer td a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.table-style-2 td{
    height: 10px;
}

.xemChiTiet{
    text-decoration: underline;
    color: blue;
    font-weight: normal;
}

.xemChiTiet:hover{
    text-decoration: underline;
    color: blue;
    font-weight: bold;
}
/* .note{
text-overflow: ellipsis;
overflow: hidden;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
display: -webkit-box;
} */