/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: myriad-pro, sans-serif;
}

/* header */
.header{
    height: 80px;
    background-color: #1caace;
    display: flex;
    align-items: center;
}

.header-title{
    padding-left: 40px;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}
/* end header */

/* body */
.user-row{
    padding: 40px;
    display: flex;
    align-items: center;
}

#user-avatar{
    width: 150px;
}

.user-name{
    padding-left: 40px;
    font-size: 18px;
    font-weight: 600;
}

.input-field{
    padding: 0px 40px ;
}

.left-col{
    padding-right: 50px;
    padding-left: 0px;
}

.right-col{
    padding-left: 90px;
}

.item{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    font-size: 18px;
}

.w-250px{
    width: 250px;
}

.w-20{
    width: 20%;
}

.w-80{
    width: 80%;
}
/* end body */

/* side bar */
.side-bar{
    border: 1px solid #d7d7d7;
}

#logo{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

a, a:hover{
    text-decoration: none;
    font-size: 16px;
    color: #69797d;
}

li{
    border: 1px solid #d7d7d7;
    height: 50px;
    display: flex;
    align-items: center;
}

li:hover{
    background-color: #c7f4ff;
}

.icon{
    padding: 0px 20px 0px 50px;
    width: 95px;
    height: 25px;
}